body {
    background-color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.card {
    border: 4px hotpink solid;
    border-radius: 25px;
    background-color: hotpink;
    color: white;
    width: 20em;
    text-align: center;
    /* padding: 2em; */
    margin: 1em;
}
.card-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card p {
    margin: 1em;
}

img {
    height: 100%;
    width: 100%;
}

h1 {
    background-color: hotpink;
    color: lightpink;
    margin: 0px;
    text-align: center;
    padding: 1em;
    width: 100%;
}

.pricing {
    border: 1px hotpink solid;
    margin: 3px;
    padding: 3px;
    font-weight: bold;
}

.specs {
    border: 1px hotpink solid;
    margin: 3px;
    padding: 3px;
    font-weight: bold;
}

.card h2 {
    border-radius: 5px;
    background-color: lightpink;
    color: white;
}

.card footer {
    font-size: 10px;
    margin-bottom: 1em;
}

h4 {
    background-color: lightpink;
}